NODE_ENV=production
PORT=3001

DATABASE_URL=mysql://u338560579_testjewellery:Jewellery%40123%23%23@localhost:3306/u338560579_testjewellery
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=u338560579_testjewellery
MYSQL_PASSWORD=Jewellery@123##
MYSQL_DATABASE=u338560579_testjewellery
